extends ../shared/template

block content
  h1 Project Description
  .project
    .title Title: #{project.title} (#{project.date.toDateString()})
    .desc Description: #{project.description}
    .repo: a(href='#{project.git}') GitHub Repo
    .pjturl: a(href='http://#{project.app}') Project URL
    .tags Tags: #{project.tags}

  .edit-project
    a(href='/portfolios/#{project._id.toString()}/edit')
      button Edit


  .photos
    each p in project.photos
      .thumbnails(style='background-image:url("#{p.filename}")')
      .ofn= p.origFileName
